<h1 class="logo">Welcome to OMA Project Management System</h1>

<!-- Section: Design Block -->
<section class="text-center text-lg-start">

  <div class="card mb-5">

    <div class="row g-0 d-flex align-items-center" style="height: 100%;">
      <div class="col-lg-5 d-block">
        <img src="https://cdn.icon-icons.com/icons2/1736/PNG/512/4043254-avatar-elderly-grandma-nanny_113280.png" alt="oma"
             class="start-25% w-75 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
      </div>
      <div class="col-lg-7">
        <div class="card-body py-2 px-md-5">
          <div class="text-light mb-4 fst-italic">Please fill in your email and password</div>
          <form>
            <!-- Email input -->
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
            </div>

            <!-- Password input -->
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>

            
            <!-- Submit button -->
            <button type="button" class="btn btn-primary btn-block mb-4 d-grid gap-2 col-3 mx-auto">Sign in</button>

          </form>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
